/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

.page { padding: 1rem; }
label { display: block; margin-bottom: 0.5rem; }
select { padding: 0.5rem; border-radius: 4px; border: 1px solid #ccc; color: black;}
.status { margin-top: 0.5rem; color: #444; }
.error { color: red; font-weight: bold; margin-top: 1rem; }